@font-face {
  font-family: 'MyWebFont';
  src: url('../fonts/fonts-master/ofl/orbitron/Orbitron-Bold.ttf') format('truetype');
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body {
    margin: 0px;
  }

  h1 {
    background-color: black;
    background: #444444;
    height: 50px;
    font-family: MyWebFont;
    color: #FFFFFF;
    padding: 20px;
    margin: 0px;
    text-align: center;
    font-size: 300%;
  }

  img {
    width: 100%;
    margin: 0px;
  }

  footer {
    position: absolute;
    margin: 0px;
    background-color: #333;
    padding: 20px;
    margin: 0px;
    width: 89.2%;
    color: white;
    text-align: left;
    bottom: 0%;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 115%;
  }

  li a:hover {
    background-color: #111;
  }

  .social {
    width: 10%;
    text-align: right;
  }
}

@media only screen and (min-width: 601px and max-width: 768px) {
  body {
    margin: 0px;
  }

  h1 {
    background-color: black;
    background: #444444;
    height: 50px;
    font-family: MyWebFont;
    color: #FFFFFF;
    padding: 20px;
    margin: 0px;
    text-align: center;
    font-size: 300%;
  }

  img {
    width: 100%;
    margin: 0px;
  }

  footer {
    position: absolute;
    margin: 0px;
    background-color: #333;
    padding: 40%;
    margin: 0px;
    width: 89.2%;
    color: white;
    text-align: left;
    bottom: 0%;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 115%;
  }

  li a:hover {
    background-color: #111;
  }

  .social {
    width: 10%;
    text-align: right;
  }
}
